*
    box-sizing: border-box

html, body
    margin: 0

body
    background-color: #EEE
    font-family: 'Open Sans', sans-serif
    color: #555

a
    text-decoration: none

.clearfix
    overflow: auto

.content
    @extend .clearfix
    padding: 30px 0
    position: relative
    z-index: 2
    background-color: inherit
    margin-bottom: 200px
    .header-text
        margin: 0
        padding: 15px
        text-align: center
        font-weight: 700
        font-size: 2.5em

.container
    @extend .clearfix
    width: 1440px
    max-width: 90%
    height: 100%
    margin: 0 auto

.loader_wrapper
    display: flex
    position: fixed
    z-index: 999
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(30,30,30,1)
    flex-direction: column
    justify-content: center
    align-items: center
    p
        color: #555
        +no-select()
    .loader
        +no-select()

$spiral-color: #ccde35
$spiral-rail-color: #555
$hexagon-color: #768400

.loader
    width: 200px
    height: 200px
    display: inline-block
    border: 8px solid $spiral-rail-color
    border-radius: 50%
    margin: 50px
    position: relative
    &:after
        content: ''
        display: block
        width: 204px
        height: 204px
        border: 12px solid transparent
        box-sizing: border-box
        border-top-color: $spiral-color
        border-bottom-color: $spiral-color
        border-radius: 50%
        position: absolute
        top: -10px
        left: -10px
        animation: 3s spin cubic-bezier(.155,1.105,.295,1.12) infinite

.hexagon
    position: absolute
    width: 40px
    height: 23.09px
    background-color: $hexagon-color
    &:before, &:after
        content: ""
        position: absolute
        width: 0
        border-left: 20px solid transparent
        border-right: 20px solid transparent
    &:before
        left: 0
        bottom: 100%
        border-bottom: 11.55px solid $hexagon-color
    &:after
        left: 0
        top: 100%
        width: 0
        border-top: 11.55px solid $hexagon-color

@each $index, $top, $left in (1, 40px, 47px), (2, 40px,  97px), (3, 78px, 22px), (4, 78px, 72px), (5, 78px, 122px), (6, 117px, 47px), (7, 117px, 97px)
    $time: 3s
    $delay: $time / 14
    .hexagon.hex_#{$index}
        top: $top
        left: $left
        animation: animateHexagon $time ease-in-out infinite
        animation-delay:  $delay*$index

@keyframes animateHexagon
    0%
        transform: scale(1)
        opacity: 1
    15%, 50%
        transform: scale(0.5)
        opacity: 0
    65%
        transform: scale(1)
        opacity: 1


@keyframes spin
    0%
        transform: rotate(0deg) scale(1)
    50%
        transform: rotate(45deg) scale(1.2)
    100%
        transform: rotate(360deg) scale(1)
